1. Data Preparation

a. Load and Merge Tables

In [56]:
import pandas as pd

matches_df = pd.read_csv("data/val_matches.csv")
reviews_df = pd.read_csv("data/val_reviews.csv")
users_df = pd.read_csv("data/val_users.csv")

reviews_df

,review_id,accommodation_id,review_title,review_positive,review_negative,review_score,review_helpful_votes
0,bc875f5f-d6b3-4257-8657-c32438c2e512,1715638058,"Simple, quiet, clean accommodation.","Simple, quiet, clean accommodation.",NaN,7.0,0
1,1255bfb6-4474-47c5-ab95-039bdeb3ff2b,392754076,"Great location, nice gardens and pool.","Great pool with shade, nice gardens.",Room was nice just a little dark. Beach and ac...,8.0,0
2,07b6070b-ea7b-4780-badd-517080310d27,-1438158622,"Lovely relaxing hotel, great value for money!",The food was lovely and the pool was great. We...,My one complaint is that the terrace floor was...,10.0,0
3,4f350d78-4540-41c1-b5e5-13d9e1226d08,-1703391740,Excellent - Highly recommend by me.,The place is hard to find. But donâ€™t let the e...,NaN,9.0,0
4,5f25926b-f16b-41b6-836f-b5f0167d8d80,653876828,NaN,"Hotel was very nice, clean, comfortable. Staff...","Location was ok, just a bit of a walk to the m...",9.0,0
...,...,...,...,...,...,...,...
203782,960bd395-7b0c-4343-9173-e6c250115c4f,198865257,"Excellent location to shops, cafes and parks",Excellent location and value for money for Tokyo.,NaN,10.0,0
203783,1e3f012e-59cb-49ba-9f94-0c7033e72771,972221007,"Modern, clean and high spec apartment",Super modern and clean apartment with amazing ...,Na,8.0,0
203784,beb7ebb9-e650-41b9-adfa-eadcf29abfc8,1767990297,Modern apartment s for a low price,"Amazing modern apartment s, in the centre of D...",Nothing not to like.. Everything was perfect t...,10.0,0
203785,a8bf9d76-5f68-4553-aecd-dbccf6e0a66f,693269630,NaN,I enjoyed my stay staff were very nice ðŸ‘Œ I hig...,NaN,10.0,0
203786,2d39cd0d-b7fc-4b09-9d3f-ea1db958afe1,2084206415,NaN,The accommodation was very modern. the locatio...,Only some unpleasant smell from bathroom at ti...,8.0,0

In [57]:
matches_df

,accommodation_id,review_id,user_id
0,-1069254060,66c70110-31ed-45ec-8149-432c6dc337a6,7d8a40dc-cc50-4adb-8cbf-b21ccc963acb
1,-961423126,e218a79a-4d0c-4f84-847c-d2bdbcab18f3,4a7e2d05-ebba-4d5b-96f2-6603336bb14c
2,693940298,67489abb-8b86-4cfb-98be-d578fa036d0f,27518b49-0610-4a65-aa16-37169874a713
3,2017018994,a4631cf2-439d-4902-abed-ec096c958255,3d8b2395-6160-4873-9a96-31156b4b2621
4,-1477856427,1a62172d-d3a5-4c45-8b83-f1d0e67ecf17,c73db74e-b700-45a3-a057-8f3a724ffd65
...,...,...,...
203782,-202706213,9de7b1c3-d2f4-4a7d-909e-e80c3fbbdada,7c4b2e80-12c8-443b-a9bb-70aad0702ec3
203783,248406501,bdf1ee27-c136-40b2-b825-4229c6cab834,091deb45-90eb-4bc6-a8ac-7ebcc652a3bf
203784,-1735883307,de7ec596-4dd1-4b53-8b4e-d5741be0fcb1,50b61c4e-545f-466d-aec0-d1ee8e7cad44
203785,-95789992,edb9f285-7a58-4bf5-b183-056daca8db69,7acb4b18-297f-4876-bb57-c2f7c7ef74c8
203786,-1987914241,22b4e34f-6a86-4e19-a4db-d5fa5a100673,355ca600-5524-4b6e-b864-02d948d07bdc

In [58]:
users_df

,user_id,accommodation_id,guest_type,guest_country,room_nights,month,accommodation_type,accommodation_country,accommodation_score,accommodation_star_rating,location_is_ski,location_is_beach,location_is_city_center
0,d814f8d0-c7de-4850-b2b6-373404a4da09,643287537,Couple,Zuc,1,12,Motel,Australia,7.9,3.5,0,0,0
1,ba3bd2f0-2c51-4686-a1b6-95832c240490,44560590,Couple,Nen,2,2,Hotel,India,9.5,2.0,0,0,0
2,215c2b1e-66b2-446a-a558-b8f76387be4e,-2044486677,Couple,Vezuz,5,7,Hotel,Austria,8.0,4.0,1,0,0
3,c7054725-2d55-4374-86d6-db297ef88427,1164088501,Solo traveller,Nukeye,3,8,Hotel,Germany,8.4,4.0,0,0,0
4,38ea8680-52e6-4c71-bb16-b6b4045b7f98,310378917,Family with children,Qebuf,1,6,Hotel,Thailand,8.1,4.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
203782,05c567b9-b222-46ff-9cf4-176b7a1f748c,1914372133,Couple,Mejok,2,5,Hotel,Saudi Arabia,7.6,4.0,0,0,1
203783,6341bd45-3dd4-474a-8d24-fca8f40995e2,-414602358,Family with children,Zuc,5,1,Holiday Park,Australia,9.3,4.0,0,1,0
203784,b9ab0743-b9e3-477f-842c-65617025ddfa,1500224568,Couple,Mejok,1,9,Hotel,France,7.8,0.0,0,0,0
203785,23a7c606-ed49-4cb7-8d75-07b2dc070802,-1360073917,Couple,Guroz,1,4,Hotel,United States of America,8.2,3.0,1,1,0
203786,e922a6af-4f2e-427d-b095-f614f4e9064e,1449213289,Solo traveller,Pikune,3,10,Hotel,"Korea, South",8.6,3.0,0,0,1

In [63]:
# # Step 1: Merge `matches` with `users` on `user_id` and `accommodation_id`
merged_df = users_df.merge(
    matches_df,
    on="user_id",
    how="left",
)

# Step 2: Merge the resulting DataFrame with `reviews` on `review_id` and `accommodation_id`
unified_dataset = merged_df.merge(
    reviews_df,
    on="review_id",
    how="inner",
)

# Check the result
unified_dataset = unified_dataset.drop(columns=["accommodation_id_x", "accommodation_id_y"])
unified_dataset

,user_id,accommodation_id_x,guest_type,guest_country,room_nights,month,accommodation_type,accommodation_country,accommodation_score,accommodation_star_rating,...,location_is_beach,location_is_city_center,accommodation_id_y,review_id,accommodation_id,review_title,review_positive,review_negative,review_score,review_helpful_votes
0,d814f8d0-c7de-4850-b2b6-373404a4da09,643287537,Couple,Zuc,1,12,Motel,Australia,7.9,3.5,...,0,0,643287537,4f8b1ec4-b39f-44c2-a631-2e0a4647291c,643287537,NaN,- Great location just off the hwy with parking...,They did warn about increased insects in the a...,9.0,0
1,ba3bd2f0-2c51-4686-a1b6-95832c240490,44560590,Couple,Nen,2,2,Hotel,India,9.5,2.0,...,0,0,44560590,22134b02-4ae3-4a49-b1bd-caa5d9961358,44560590,Awesome Experience.,"Had a very Hygiene, Clean and Neat stay! Perfe...",NaN,10.0,0
2,215c2b1e-66b2-446a-a558-b8f76387be4e,-2044486677,Couple,Vezuz,5,7,Hotel,Austria,8.0,4.0,...,0,0,-2044486677,8aaf4cab-0c4a-4326-99cd-a5918f03d864,-2044486677,NaN,Hello. The staff at the reception are great...,NaN,10.0,0
3,c7054725-2d55-4374-86d6-db297ef88427,1164088501,Solo traveller,Nukeye,3,8,Hotel,Germany,8.4,4.0,...,0,0,1164088501,eee965c5-d241-418c-af06-52d1d1d78359,1164088501,Great experience nonetheless,Room service and cleaning was on point,Parking was a hassle. You will be charged for ...,9.0,0
4,38ea8680-52e6-4c71-bb16-b6b4045b7f98,310378917,Family with children,Qebuf,1,6,Hotel,Thailand,8.1,4.0,...,0,0,310378917,255d6e1b-1de0-4051-96a7-28c91f73b6bd,310378917,NaN,"Good location close to the airport, large supe...",Could not check in until 2pm.,9.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203782,05c567b9-b222-46ff-9cf4-176b7a1f748c,1914372133,Couple,Mejok,2,5,Hotel,Saudi Arabia,7.6,4.0,...,0,1,1914372133,aca8d00b-e7e3-4ff9-a94a-03a5c543244f,1914372133,"Pleasant, delightful and comfortable","All the staff was courteous, friendly and help...",There was nothing that I would say I disliked....,9.0,3
203783,6341bd45-3dd4-474a-8d24-fca8f40995e2,-414602358,Family with children,Zuc,5,1,Holiday Park,Australia,9.3,4.0,...,1,0,-414602358,45b541ad-a12c-4f59-affc-d4a5b0901490,-414602358,amazing for Familyâ€™s,great family friendly resort best one I have b...,NaN,10.0,0
203784,b9ab0743-b9e3-477f-842c-65617025ddfa,1500224568,Couple,Mejok,1,9,Hotel,France,7.8,0.0,...,0,0,1500224568,f922273c-a92d-4818-9222-a8d8e2134bc7,1500224568,Everything you could ask of a simple classic h...,This is a very good simple place to stay in a ...,Nothing,9.0,0
203785,23a7c606-ed49-4cb7-8d75-07b2dc070802,-1360073917,Couple,Guroz,1,4,Hotel,United States of America,8.2,3.0,...,1,0,-1360073917,1cd07462-b224-4446-ac52-6dc435494323,-1360073917,NaN,Very quiet and with a very confortable bed.,NaN,9.0,0
203786,e922a6af-4f2e-427d-b095-f614f4e9064e,1449213289,Solo traveller,Pikune,3,10,Hotel,"Korea, South",8.6,3.0,...,0,1,1449213289,034e1d48-3eba-40ee-afe0-de5477889aaa,1449213289,"Great location, would come again... only downs...",Booked a Superior Double Room. The hotel gener...,Soundproofing may need improvement. On my firs...,8.0,1

In [ ]:
unified_dataset.columns()

In [47]:
unified_dataset.size

4279527

In [3]:
import calendar

def transform_to_text(row):
    month = calendar.month_name[row["month"]]
    location = ""
    if row["location_is_ski"]:
        location = "in a ski resort"
    elif row["location_is_beach"]:
        location = "near a beach"
    else:
        location = "in a city center"
    review = ""
    if row['review_title']:
        review += f"review_title: {row['review_title']}"
    if row['positive_review']:
        review = f"positive review: {row['positive_review']}"
    if row['negative_review']:
        review += f"negative review: {row['negative_review']}"
    text = f"""The guest was a {row['guest_type']} coming from {row['guest_country']}, he booked a {row['accommodation_type']} in {row['accommodation_country']} for {row['room_night']} nights during the month of {month}.
    The accommodation he booked had an everage grade of {row['accommodation_score']}/10 and a star rating of {row['accommodation_star_rating']} stars. The location of the accommodation was {location}.
    The guest gave a score of {row['review_score']}/10 to the accommodation, Here is what the guest thought about the accommodation during his stay: {review}. The guest's review has been helpful for {row['review_helpful_votes']} other guests."""
    return text

,user_id,accommodation_id,guest_type,guest_country,room_nights,month,accommodation_type,accommodation_country,accommodation_score,accommodation_star_rating,location_is_ski,location_is_beach,location_is_city_center
0,8e2ee00e-08bf-4229-aefb-74224a5adfa6,-1109473678,Family with children,Vey,2,2,Hotel,Turkey,8.3,5.0,0,0,0
1,776accc3-9f1b-4a2e-8616-aafcac7eeb1d,-1189343073,Solo traveller,Gobuf,2,3,Hotel,Italy,8.0,4.0,0,0,0
2,e32f90a1-1580-4a87-86a1-7602d5543a15,-1454980525,Couple,Qehoj,3,6,Hotel,Germany,8.5,4.0,0,0,1
3,9f246c70-def0-4b93-8c8a-296f5014f6fc,-773005129,Family with children,Mejok,1,8,Apartment,United Kingdom,9.3,0.0,0,0,0
4,2958080f-b80d-4bcb-84e9-2e053c314e38,462909752,Family with children,Zuc,6,6,Hotel,Australia,8.7,4.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1628984,c71b8737-c03d-4182-8c00-4ffe22e3d56f,671144144,Couple,Yibege,3,7,Hotel,Indonesia,8.9,3.0,0,1,0
1628985,744143b2-755f-47cf-bb68-88c85757a88f,506303891,Couple,Mejok,1,8,Hotel,United Kingdom,8.1,3.0,0,0,0
1628986,e6ac4cca-e07b-474b-8dc9-31501feec9c5,2066287831,Couple,Mejok,3,3,Hotel,Sweden,8.6,4.0,0,0,1
1628987,5fda3acf-1d8f-454a-9abd-52042a519681,-194757066,Solo traveller,Zuc,2,4,Apartment,Montenegro,9.7,0.0,0,1,0
1628988,72b7efbb-7af2-47b5-bfce-ca1525bfa8f4,2063347565,Family with children,Jof,1,4,Motel,Canada,8.1,2.0,0,0,0